:root {
  --vt-c-brand: #c00;
  --vt-c-brand-light: #d53f3f;
  --vt-c-brand-dark: var(--vt-c-brand);
  --vt-c-brand-highlight: var(--vt-c-brand-light);
  --vt-c-contrast-light: #0ea5e9;
  --bg-colored-light: #f3f7f7;
  --kbd-border: #d1d5da;
  --vt-c-tip: #0ea5e9;
}
html.dark {
  --kbd-border: var(--vt-c-text-dark-3);

  p {
    --code-inline-bg-color: #ffcaca0d;
  }

  .vt-doc a {
    color: var(--vt-c-text-dark-1);
    text-decoration: underline;
    text-decoration-color: var(--vt-c-text-dark-2);
  }

  .vt-doc a > code {
    --vt-c-brand-dark: var(--vt-c-text-dark-1);
  }

  .content a:hover,
  .content a:hover code {
    color: white;
    text-decoration-color: currentColor;
  }

  .DocSearch.DocSearch {
    --docsearch-container-background: rgba(12, 12, 12, 0.8);
  }

  .page .content {
    --vt-c-brand: var(--vt-c-text);
  }

  .nav-link.action:not(.alt) .item,
  .nav-link.action .item.item:hover,
  .custom-block.custom-block.tip a:hover {
    color: white;
  }

  kbd {
    background-color: #333;
    box-shadow: none;
  }

  kbd a {
    color: var(--vt-c-text);
    font-weight: 500;
  }
}

.VPNavBarSearch {
  justify-content: flex-end;
}

.vt-doc .custom-block.tip {
  --vt-c-brand: var(--vt-c-text-1);
  --vt-c-brand-dark: var(--vt-c-text-1);
  --vt-c-brand-highlight: var(--vt-c-text-1);
}

@media (min-width: 720px) {
  .home-hero.home-hero.home-hero {
    margin-top: 2rem;
  }
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

h2 .logo {
  display: inline-block;
  height: 32px;
  margin-left: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid var(--kbd-border);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--kbd-border);
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 10px;
  padding: 5px;
  vertical-align: middle;
}

code kbd {
  font-size: 0.7rem;
  padding: 2px 5px;
}

html:not(.dark) .vt-doc [class*='language-'] code {
  color: white;
}

.DocSearch-Search-Icon.DocSearch-Search-Icon {
  top: 0px;
}

.search-key {
  vertical-align: 3px;
}


:root {
   /* Tailwind theming */

  --docs-color-primary: #2160fd;
  --docs-color-primary-100: #2160fd;

  --docs-color-text: #000000;
  --docs-color-text-100: #646464;

  --docs-color-border: #dadde1;

  --docs-color-background: #ffffff;
  --docs-color-background-100: #f8f8f8;
  --docs-color-background-200: #efefef;
  --docs-color-background-300: #dcdcdc;

    /* Elements theming */

    --color-canvas-100: var(--docs-color-background-100);
    --color-canvas-200: var(--docs-color-background-200);
    --color-canvas-300: var(--docs-color-background-300);

    --docsearch-key-shadow: none !important;
    --docsearch-key-gradient: #dcdcdc !important;
}

html[data-theme='dark'] {
  --docs-color-primary-100: #1a90ff;

  --docs-color-text: #ffffff;
  --docs-color-text-100: #b4b4b4;

  --docs-color-border: #2e2e2e;

  --docs-color-background: #161616;
  --docs-color-background-100: #1c1c1c;
  --docs-color-background-200: #2a2a2a;
  --docs-color-background-300: #464646;

  --color-canvas-100: var(--docs-color-background-100);
  --color-canvas-200: var(--docs-color-background-200);
  --color-canvas-300: var(--docs-color-background-300);
}

/* Styles for @stoplight/elements */

.sl-elements {
  --fs-paragraph: 18px !important;
  --fs-code: 13px !important;
  /* Reset padding for pre tags inside sl-elements */
  --ifm-pre-padding: 0;
  @apply !text-base;
}

/* Hides the `Production server` text in TryItPanel */
.TryItPanel > .sl-panel__titlebar > div:last-child {
  @apply hidden;
}

.sl-elements .OperationParametersContent {
  max-height: max-content;
}

.sl-code-viewer__scroller {
  max-height: initial !important;
}

/* Spacing between params */
.sl-self-stretch.sl-border-light.sl-border-t {
  @apply my-2;
}

.HttpOperation .sl-flex .sl-w-2\/5 {
  @apply ml-8 border-l border-border pl-8;
}

/* Fixes API reference white border */
.sl-elements div {
  @apply border-border;
}

.sl-elements-api > .sl-px-24 {
  @apply pl-8 pr-4;
}

.sl-text-base {
  @apply !text-sm;
}

.sl-elements a {
  color: inherit !important;
}

.sl-elements div[aria-label='Responses'] {
  span {
    @apply mr-auto;
  }

  div[data-key] {
    @apply mr-2 flex items-center rounded-md border outline-none ring-0;
  }

  div[data-key]::before {
    content: '';
    @apply mr-2 inline-block h-3 w-3 rounded-full bg-green-500 drop-shadow-sm;
  }

  div[data-key^='4']::before {
    @apply bg-red-500;
  }

  div[data-key^='5']::before {
    @apply bg-yellow-500;
  }

  div[aria-selected='true'] {
    @apply border-primary-100 shadow-sm;
  }
}

.sl-overflow-x-hidden.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas {
  background-color: var(--docs-color-background);
}

.HttpOperation__Parameters .sl-flex-1,
.JsonSchemaViewer .sl-flex-1 {
  flex: none;
}

.sl-text-warning {
  @apply font-medium;
}

.sl-panel__titlebar .sl-h-lg {
  height: auto;
  padding: 12px 0;
}

.ElementsTableOfContentsItem > div {
  border-radius: 4px 0 0 4px;
  border-right: 2px solid transparent;
}

.ElementsTableOfContentsItem .sl-bg-primary-tint {
  border-right: 2px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  background: rgba(33, 96, 253, 0.16);
}

.sl-elements {
  scrollbar-width: thin;
}

.HttpOperation > .sl-flex.sl-mt-12 > .sl-flex-1 > div:not(.sl-prose) {
  @apply rounded-lg bg-background-100 p-4 pt-6;
}

.sl-absolute.sl--left-4 {
  @apply static pr-2;
}

.sl-elements-api > div:first-child {
  @apply !min-w-[240px] !max-w-[300px] !pl-0;
}

.sl-elements-api > div:last-child > div {
  @apply mx-auto;
}

/**
  Syntax highlighting styles for API reference only
*/

.sl-elements .token.punctuation {
  @apply !text-text-100;
}

.sl-elements .token.operator {
  @apply !text-text-100;
}

.sl-elements .token.property {
  @apply !text-[#1a90ff];
}

.sl-elements .token.string {
  @apply !text-text;
}

.sl-elements .token.function {
  @apply !text-primary-100;
}

html[data-theme='dark'] .sl-elements .token.boolean,
html[data-theme='dark'] .sl-elements .token.number {
  @apply !text-yellow-400;
}

html[data-theme='dark'] .sl-elements .token.null.keyword {
  @apply !text-red-400;
}

.sl-elements .TextRequestBody .token.string {
  @apply !text-gray-200;
}

html[data-theme='dark'] .sl-text-warning {
  @apply !text-red-500;
}

.sl-text-primary-dark {
  @apply !text-primary-100;
}

.sl-text-success {
  @apply !text-green-600;
}

.sl-text-primary {
  @apply !text-primary-100;
}

.sl-text-danger {
  @apply !text-red-500;
}

.sl-stack--horizontal > .sl-flex.sl-flex-wrap {
  @apply !flex-1;
}

/** hides the annoying popover which shows hovered fields in response */
.JsonSchemaViewer > .sl-bg-canvas-pure:first-child {
  @apply !hidden;
}


.sondh {
  @apply text-red-500
}
